li {
    border: none !important;
}

#categoryLİstItem.active {
    background-color: brown !important;
}

.text-brown {
    color: brown !important;
}

.bg-brown {
    background-color: brown !important;
}